*
{
	margin:0%;
	padding:0%;
	box-sizing:border-box;
}
body	
{
	background-color:black;												
}
.circle1
{
	height:150px;
	width:150px;
	border-radius:50%;
	background: rgb(8,81,213);
	background: linear-gradient(90deg, rgba(8,81,213,1) 0%, rgba(18,127,219,0.9248074229691877) 35%, rgba(37,215,198,1) 100%);
	position:absolute;
	left:30%;
	
}
.circle2
{
	height:150px;
	width:150px;
	border-radius:50%;
	background: rgb(241,93,19);
	background: linear-gradient(90deg, rgba(241,93,19,1) 0%, rgba(242,167,36,0.9248074229691877) 50%, rgba(255,252,0,1) 100%);
	position:absolute;
	left:59%;
	bottom:0%;
}
.box
{
	height:500px;
	width:400px;
	border-radius:25px;
	background: rgba( 255, 255, 255, 0.1 );
	backdrop-filter: blur( 12.5px );
	-webkit-backdrop-filter: blur( 12.5px );
	border-radius: 10px;

	position:absolute;
	transform:translate(-50%,-50%);
	left:50%;
	top:50%;

}
.inbox
{
	height:400px;
	width:300px;
	margin:50px auto;
	
}
h1
{
	text-align:center;
	color:white;
}
p
{
	color:white;
}
input
{
	height:30px;
	width:100%;
	background: rgba( 255, 255, 255, 0.15 );
	backdrop-filter: blur( 4px );
	-webkit-backdrop-filter: blur( 4px );
	border-radius: 3px;
	border: 1px solid rgba( 255, 255, 255, 0.18 );
	border:none;
	outline:none;
}
::placeholder
{
	padding:2%;
}
button
{
	height:40px;
	width:100%;
	border-radius:5px;
	border:none;
	position:relative;
	top:30%;
}
.google
{
	background: rgba( 255, 255, 255, 0.15 );
	backdrop-filter: blur( 3px );
	-webkit-backdrop-filter: blur( 3px );
	border-radius: 5px;
	border: 1px solid rgba( 255, 255, 255, 0.18 );
	position:relative;
	top:40%;
	border-radius:5%;
	padding:5px 30px;
	margin-right:8px;
	color:white;
	border:none;
}
.facebook
{
	background: rgba( 255, 255, 255, 0.15 );
	backdrop-filter: blur( 3px );
	-webkit-backdrop-filter: blur( 3px );
	border-radius: 5px;
	border: 1px solid rgba( 255, 255, 255, 0.18 );
	position:relative;
	top:40%;
	padding:5px 30px;
	border-radius:5%;
	margin-left:8px;
	color:white;
	border:none;
}